{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}


<div class="example-wrapper">


    This friendly message is coming from:
{{ test }}
</div>
{% endblock %}
