{% extends 'base.html.twig' %}

{% block title %}K7 Location{% endblock %}


{% block body %}

<style>
    .example-wrapper { margin: 0em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="../../img/logo.png" width="112" alt="logo de K7 location">
      K7 Location
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Déconnexion</strong>
          </a>
          <a class="button is-light">
            Connexion
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

{% endblock %}
