{% extends 'base.html.twig' %}

{% block title %}Vitrine{% endblock %}
{% block body %}

<style>
    .backgroundimg {   
        background-image: url('../../img/backgroundtransparent.png');
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover;
        /* - */
    }
    .background {   
        /* background-repeat: no-repeat;  */
        /* background-size: cover; */
        /* height: 100vh; */
    }
    h1 {
        /* width: 100%; */
        font-size: 150px;
        text-align: center;
        color: #ffdb4a;
        font-weight: bold;
        padding-top: 6%;
    }
    .inscrire {
        display: block;
        margin: auto;
        font-size: 30px;
        margin-top: 2%;
    }
    .connexion {
        display: block;
        margin: auto;
        margin-top: 5%;
    }
</style>
<div class="backgroundimg">
        <div class="background">
            <h1>K7 LOCATION</h1>
            <a href="http://localhost:8000/inscription"><button class="button is-warning inscrire">Rejoins nous, on a du popcorn 🍿</button></a>
            <a href="http://localhost:8000/connexion"><button class="button is-warning is-inverted connexion">Connecte-toi là si tu es déjà des notres</button></a>

        </div>
</div>


{% endblock %}