{% extends 'base.html.twig' %}

{% block title %}K7 Location{% endblock %}


{% block body %}

<style>
    .background {background-image: url('../../img/backgrounddelespace.jpg')}
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="background">


    This friendly message is coming from:
{{ test }}
</div>
{% endblock %}
