<form method="post" action="{{ path('movies_delete', {'id': movie.id}) }}" onsubmit="return confirm('Es-tu sûr de vouloir supprimer ce film? Cette action est définitive.');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ movie.id) }}">
    <button class="button is-danger is-rounded">✘ Supprimer ce film</button>
</form>
