{% extends 'base.html.twig' %}

{% block title %}Editer un Film{% endblock %}

{% block body %}
    <h1>Editer un Film</h1>

    {{ include('movies/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('movies_index') }}">Retour à la liste</a>

    {{ include('movies/_delete_form.html.twig') }}
{% endblock %}
