{% extends 'base.html.twig' %}

{% block title %}Movies index{% endblock %}

{% block body %}
    <h1 class="title has-text-centered" id="MT">Liste des Films</h1>
{# bulma #}
{# <section class="container"> ne sert a rien#}
		<div class="columns is-desktop">
    {% for movie in movies %}
    <div class="card card-content has-text-centered is-rounded">
        <h1 class="title is-4">{{ movie.title }}</h1>
            <h1 class="subtitle is-7">{{ movie.year }}</h1>
            <a href="{{ path('movies_show', {'id': movie.id}) }}"><img src="{{ movie.poster }}" alt="affiche du film {{ movie.title }}"></a>
                <p>{{ movie.genre }}</p>
                <p>Disponible en location : {{ movie.avalaible ? 'Yes' : 'No' }}</p>
                <p>5 &euro;</p>
            <button class="button is-link is-rounded is-light is-outlined"><a href="{{ path('movies_edit', {'id': movie.id}) }}">Ajouter</a></button>
    </div>
{# bulma #}

    {% else %}
                <h1 class="title">Aucune donnée trouvé... ¯\_(ツ)_/¯</h1>
        {% endfor %}
        
		</div>

    <a href="{{ path('movies_new') }}">Créer un nouveau film</a>
{# </section> #}
{% endblock %}
