{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block body %}
    <h1>Movies</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ movie.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ movie.title }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ movie.resume }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ movie.year }}</td>
            </tr>
            <tr>
                <th>Released</th>
                <td>{{ movie.released }}</td>
            </tr>
            <tr>
                <th>Runtime</th>
                <td>{{ movie.runtime }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ movie.genre }}</td>
            </tr>
            <tr>
                <th>Director</th>
                <td>{{ movie.director }}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{ movie.language }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ movie.country }}</td>
            </tr>
            <tr>
                <th>Awards</th>
                <td>{{ movie.awards }}</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td>{{ movie.poster }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ movie.type }}</td>
            </tr>
            <tr>
                <th>Dvd</th>
                <td>{{ movie.dvd }}</td>
            </tr>
            <tr>
                <th>Production</th>
                <td>{{ movie.production }}</td>
            </tr>
            <tr>
                <th>Avalaible</th>
                <td>{{ movie.avalaible ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <button class="button is-link is-rounded is-outlined"><a href="{{ path('movies_index') }}">⏎ Retour à la liste</a></button>

    <button class="button is-warning is-rounded"><a href="{{ path('movies_edit', {'id': movie.id}) }}">✎ Editer la fiche</a></button>
<br><br>
    {{ include('movies/_delete_form.html.twig') }}
{% endblock %}
