<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
		<title>
			{% block title %}K7 Location
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
		{% block stylesheets %}
			<style>
				html {
					/* height: 100vh;
					width: 100vw; */
					background-color: #181818;
				}
				body {
					/* background-color: #181818; */
					height: 100vh;
					width: 100vw;
					padding: 0;
					margin: 0;
				}
                #MT {
                    padding-top: 2em;
                }
				.columns.is-desktop {
					flex-wrap: wrap;
					justify-content: center;
				}
				.card {
					width: 18vw;
				}
				.navbar {
					background-color: rgba(0, 0, 0, 0.7);
                    width: 100vw;
                    position: fixed;
				}
				.navbar.pl {
					padding-left: 1em;
				}
				.navbar.pl.pr {
					padding-right: 2em;
				}
				.titrek7 {
					color: #ffdb4a;
					font-size: 20px;
				}
			</style>
		{% endblock %} {# stylesheets #}
	</head>
{# Navbar bulma #}
	<nav class="navbar pl pr" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="/movies">
				<p class="titrek7">K7 LOCATION</p>
			</a>
			<a class="navbar-item has-text-light" href="/movies">
				<p>Home</p>
			</a>
			

			<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-end">
				<div class="navbar-item">
					<div class="buttons">
						<a class="button is-light" href="/">
							<p>Panier : XxX €.</p>
						</a>
						<a class="button is-warning" href="/log_out">
							<strong>Log out</strong>
						</a>
					</div>
				</div>
			</div>
		</div>
	</nav>
{# Fin Navbar Bulma #}



	<body>
		{% block body %}{% endblock %}
			{# body #}
		
	</body>


{% block javascripts %}{% endblock %}

    <script>
//////// pour menu burger bulma
document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
//////// fin pour menu burger bulma
</script>
</html>
