{# Navbar bulma #}
	<nav class="navbar pl pr" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="/movies">
				<p class="titrek7">K7 LOCATION</p>
			</a>
			<a class="navbar-item has-text-light" href="/movies">
				<p>Home</p>
			</a>
			

			<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-end">
				<div class="navbar-item">
					<div class="buttons">
						<a class="button is-warning" href="/">
							<strong>Log out</strong>
						</a>
						<a class="button is-light" href="/">
							Panier : XxX €.
						</a>
					</div>
				</div>
			</div>
		</div>
	</nav>
{# Fin Navbar Bulma #}